.buttonMinus{
    width: 30px;
    height: 30px;

}
.buttonPlus{
    width: 30px;
    height: 30px;
}
.posto_A1{
    width: 30px;
    height: 30px;
}.posto_A2{
    width: 30px;
    height: 30px;
}.posto_A3{
    width: 30px;
    height: 30px;
}.posto_A4{
    width: 30px;
    height: 30px;
}.posto_A5{
    width: 30px;
    height: 30px;
}.posto_A6{
    width: 30px;
    height: 30px;
}.posto_A7{
    width: 30px;
    height: 30px;
}.posto_A8{
    width: 30px;
    height: 30px;
}.posto_A9{
    width: 30px;
    height: 30px;
}.posto_A10{
    width: 30px;
    height: 30px;
}.posto_A11{
    width: 30px;
    height: 30px;
}.posto_A12{
    width: 30px;
    height: 30px;
}.posto_A13{
    width: 30px;
    height: 30px;
}.posto_A14{
    width: 30px;
    height: 30px;
}.posto_A15{
    width: 30px;
    height: 30px;
}.posto_A16{
    width: 30px;
    height: 30px;
}.posto_A17{
    width: 30px;
    height: 30px;
}.posto_A18{
    width: 30px;
    height: 30px;
}.posto_A19{
    width: 30px;
    height: 30px;
}.posto_A20{
    width: 30px;
    height: 30px;
}.posto_A21{
    width: 30px;
    height: 30px;
}.posto_A22{
    width: 30px;
    height: 30px;
}.posto_A23{
    width: 30px;
    height: 30px;
}.posto_A24{
    width: 30px;
    height: 30px;
}.posto_A25{
    width: 30px;
    height: 30px;
}.posto_A26{
    width: 30px;
    height: 30px;
}

.posto_B1{
    width: 30px;
    height: 30px;
}.posto_B2{
    width: 30px;
    height: 30px;
}.posto_B3{
    width: 30px;
    height: 30px;
}.posto_B4{
    width: 30px;
    height: 30px;
}.posto_B5{
    width: 30px;
    height: 30px;
}.posto_B6{
    width: 30px;
    height: 30px;
}.posto_B7{
    width: 30px;
    height: 30px;
}.posto_B8{
    width: 30px;
    height: 30px;
}.posto_B9{
    width: 30px;
    height: 30px;
}.posto_B10{
    width: 30px;
    height: 30px;
}.posto_B11{
    width: 30px;
    height: 30px;
}.posto_B12{
    width: 30px;
    height: 30px;
}.posto_B13{
    width: 30px;
    height: 30px;
}.posto_B14{
    width: 30px;
    height: 30px;
}.posto_B15{
    width: 30px;
    height: 30px;
}.posto_B16{
    width: 30px;
    height: 30px;
}.posto_B17{
    width: 30px;
    height: 30px;
}.posto_B18{
    width: 30px;
    height: 30px;
}.posto_B19{
    width: 30px;
    height: 30px;
}.posto_B20{
    width: 30px;
    height: 30px;
}.posto_B21{
    width: 30px;
    height: 30px;
}.posto_B22{
    width: 30px;
    height: 30px;
}.posto_B23{
    width: 30px;
    height: 30px;
}.posto_B24{
    width: 30px;
    height: 30px;
}.posto_B25{
    width: 30px;
    height: 30px;
}.posto_B26{
    width: 30px;
    height: 30px;
}

.posto_C1{
    width: 30px;
    height: 30px;
}.posto_C2{
    width: 30px;
    height: 30px;
}.posto_C3{
    width: 30px;
    height: 30px;
}.posto_C4{
    width: 30px;
    height: 30px;
}.posto_C5{
    width: 30px;
    height: 30px;
}.posto_C6{
    width: 30px;
    height: 30px;
}.posto_C7{
    width: 30px;
    height: 30px;
}.posto_C8{
    width: 30px;
    height: 30px;
}.posto_C9{
    width: 30px;
    height: 30px;
}.posto_C10{
    width: 30px;
    height: 30px;
}.posto_C11{
    width: 30px;
    height: 30px;
}.posto_C12{
    width: 30px;
    height: 30px;
}.posto_C13{
    width: 30px;
    height: 30px;
}.posto_C14{
    width: 30px;
    height: 30px;
}.posto_C15{
    width: 30px;
    height: 30px;
}.posto_C16{
    width: 30px;
    height: 30px;
}.posto_C17{
    width: 30px;
    height: 30px;
}.posto_C18{
    width: 30px;
    height: 30px;
}.posto_C19{
    width: 30px;
    height: 30px;
}.posto_C20{
    width: 30px;
    height: 30px;
}.posto_C21{
    width: 30px;
    height: 30px;
}.posto_C22{
    width: 30px;
    height: 30px;
}.posto_C23{
    width: 30px;
    height: 30px;
}.posto_C24{
    width: 30px;
    height: 30px;
}.posto_C25{
    width: 30px;
    height: 30px;
}.posto_C26{
    width: 30px;
    height: 30px;
}

.posto_D1{
    width: 30px;
    height: 30px;
}.posto_D2{
    width: 30px;
    height: 30px;
}.posto_D3{
    width: 30px;
    height: 30px;
}.posto_D4{
    width: 30px;
    height: 30px;
}.posto_D5{
    width: 30px;
    height: 30px;
}.posto_D6{
    width: 30px;
    height: 30px;
}.posto_D7{
    width: 30px;
    height: 30px;
}.posto_D8{
    width: 30px;
    height: 30px;
}.posto_D9{
    width: 30px;
    height: 30px;
}.posto_D10{
    width: 30px;
    height: 30px;
}.posto_D11{
    width: 30px;
    height: 30px;
}.posto_D12{
    width: 30px;
    height: 30px;
}.posto_D13{
    width: 30px;
    height: 30px;
}.posto_D14{
    width: 30px;
    height: 30px;
}.posto_D15{
    width: 30px;
    height: 30px;
}.posto_D16{
    width: 30px;
    height: 30px;
}.posto_D17{
    width: 30px;
    height: 30px;
}.posto_D18{
    width: 30px;
    height: 30px;
}.posto_D19{
    width: 30px;
    height: 30px;
}.posto_D20{
    width: 30px;
    height: 30px;
}.posto_D21{
    width: 30px;
    height: 30px;
}.posto_D22{
    width: 30px;
    height: 30px;
}.posto_D23{
    width: 30px;
    height: 30px;
}.posto_D24{
    width: 30px;
    height: 30px;
}.posto_D25{
    width: 30px;
    height: 30px;
}.posto_D26{
    width: 30px;
    height: 30px;
}

.posto_E1{
    width: 30px;
    height: 30px;
}.posto_E2{
    width: 30px;
    height: 30px;
}.posto_E3{
    width: 30px;
    height: 30px;
}.posto_E4{
    width: 30px;
    height: 30px;
}.posto_E5{
    width: 30px;
    height: 30px;
}.posto_E6{
    width: 30px;
    height: 30px;
}.posto_E7{
    width: 30px;
    height: 30px;
}.posto_E8{
    width: 30px;
    height: 30px;
}.posto_E9{
    width: 30px;
    height: 30px;
}.posto_E10{
    width: 30px;
    height: 30px;
}.posto_E11{
    width: 30px;
    height: 30px;
}.posto_E12{
    width: 30px;
    height: 30px;
}.posto_E13{
    width: 30px;
    height: 30px;
}.posto_E14{
    width: 30px;
    height: 30px;
}.posto_E15{
    width: 30px;
    height: 30px;
}.posto_E16{
    width: 30px;
    height: 30px;
}.posto_E17{
    width: 30px;
    height: 30px;
}.posto_E18{
    width: 30px;
    height: 30px;
}.posto_E19{
    width: 30px;
    height: 30px;
}.posto_E20{
    width: 30px;
    height: 30px;
}.posto_E21{
    width: 30px;
    height: 30px;
}.posto_E22{
    width: 30px;
    height: 30px;
}.posto_E23{
    width: 30px;
    height: 30px;
}.posto_E24{
    width: 30px;
    height: 30px;
}.posto_E25{
    width: 30px;
    height: 30px;
}.posto_E26{
    width: 30px;
    height: 30px;
}

.posto_F1{
    width: 30px;
    height: 30px;
}.posto_F2{
    width: 30px;
    height: 30px;
}.posto_F3{
    width: 30px;
    height: 30px;
}.posto_F4{
    width: 30px;
    height: 30px;
}.posto_F5{
    width: 30px;
    height: 30px;
}.posto_F6{
    width: 30px;
    height: 30px;
}.posto_F7{
    width: 30px;
    height: 30px;
}.posto_F8{
    width: 30px;
    height: 30px;
}.posto_F9{
    width: 30px;
    height: 30px;
}.posto_F10{
    width: 30px;
    height: 30px;
}.posto_F11{
    width: 30px;
    height: 30px;
}.posto_F12{
    width: 30px;
    height: 30px;
}.posto_F13{
    width: 30px;
    height: 30px;
}.posto_F14{
    width: 30px;
    height: 30px;
}.posto_F15{
    width: 30px;
    height: 30px;
}.posto_F16{
    width: 30px;
    height: 30px;
}.posto_F17{
    width: 30px;
    height: 30px;
}.posto_F18{
    width: 30px;
    height: 30px;
}.posto_F19{
    width: 30px;
    height: 30px;
}.posto_F20{
    width: 30px;
    height: 30px;
}.posto_F21{
    width: 30px;
    height: 30px;
}.posto_F22{
    width: 30px;
    height: 30px;
}.posto_F23{
    width: 30px;
    height: 30px;
}.posto_F24{
    width: 30px;
    height: 30px;
}.posto_F25{
    width: 30px;
    height: 30px;
}.posto_F26{
    width: 30px;
    height: 30px;
}

.posto_G1{
    width: 30px;
    height: 30px;
}.posto_G2{
    width: 30px;
    height: 30px;
}.posto_G3{
    width: 30px;
    height: 30px;
}.posto_G4{
    width: 30px;
    height: 30px;
}.posto_G5{
    width: 30px;
    height: 30px;
}.posto_G6{
    width: 30px;
    height: 30px;
}.posto_G7{
    width: 30px;
    height: 30px;
}.posto_G8{
    width: 30px;
    height: 30px;
}.posto_G9{
    width: 30px;
    height: 30px;
}.posto_G10{
    width: 30px;
    height: 30px;
}.posto_G11{
    width: 30px;
    height: 30px;
}.posto_G12{
    width: 30px;
    height: 30px;
}.posto_G13{
    width: 30px;
    height: 30px;
}.posto_G14{
    width: 30px;
    height: 30px;
}.posto_G15{
    width: 30px;
    height: 30px;
}.posto_G16{
    width: 30px;
    height: 30px;
}.posto_G17{
    width: 30px;
    height: 30px;
}.posto_G18{
    width: 30px;
    height: 30px;
}.posto_G19{
    width: 30px;
    height: 30px;
}.posto_G20{
    width: 30px;
    height: 30px;
}.posto_G21{
    width: 30px;
    height: 30px;
}.posto_G22{
    width: 30px;
    height: 30px;
}.posto_G23{
    width: 30px;
    height: 30px;
}.posto_G24{
    width: 30px;
    height: 30px;
}.posto_G25{
    width: 30px;
    height: 30px;
}.posto_G26{
    width: 30px;
    height: 30px;
}

.posto_H1{
    width: 30px;
    height: 30px;
}.posto_H2{
    width: 30px;
    height: 30px;
}.posto_H3{
    width: 30px;
    height: 30px;
}.posto_H4{
    width: 30px;
    height: 30px;
}.posto_H5{
    width: 30px;
    height: 30px;
}.posto_H6{
    width: 30px;
    height: 30px;
}.posto_H7{
    width: 30px;
    height: 30px;
}.posto_H8{
    width: 30px;
    height: 30px;
}.posto_H9{
    width: 30px;
    height: 30px;
}.posto_H10{
    width: 30px;
    height: 30px;
}.posto_H11{
    width: 30px;
    height: 30px;
}.posto_H12{
    width: 30px;
    height: 30px;
}.posto_H13{
    width: 30px;
    height: 30px;
}.posto_H14{
    width: 30px;
    height: 30px;
}.posto_H15{
    width: 30px;
    height: 30px;
}.posto_H16{
    width: 30px;
    height: 30px;
}.posto_H17{
    width: 30px;
    height: 30px;
}.posto_H18{
    width: 30px;
    height: 30px;
}.posto_H19{
    width: 30px;
    height: 30px;
}.posto_H20{
    width: 30px;
    height: 30px;
}.posto_H21{
    width: 30px;
    height: 30px;
}.posto_H22{
    width: 30px;
    height: 30px;
}.posto_H23{
    width: 30px;
    height: 30px;
}.posto_H24{
    width: 30px;
    height: 30px;
}.posto_H25{
    width: 30px;
    height: 30px;
}.posto_H26{
    width: 30px;
    height: 30px;
}

.posto_I1{
    width: 30px;
    height: 30px;
}.posto_I2{
    width: 30px;
    height: 30px;
}.posto_I3{
    width: 30px;
    height: 30px;
}.posto_I4{
    width: 30px;
    height: 30px;
}.posto_I5{
    width: 30px;
    height: 30px;
}.posto_I6{
    width: 30px;
    height: 30px;
}.posto_I7{
    width: 30px;
    height: 30px;
}.posto_I8{
    width: 30px;
    height: 30px;
}.posto_I9{
    width: 30px;
    height: 30px;
}.posto_I10{
    width: 30px;
    height: 30px;
}.posto_I11{
    width: 30px;
    height: 30px;
}.posto_I12{
    width: 30px;
    height: 30px;
}.posto_I13{
    width: 30px;
    height: 30px;
}.posto_I14{
    width: 30px;
    height: 30px;
}.posto_I15{
    width: 30px;
    height: 30px;
}.posto_I16{
    width: 30px;
    height: 30px;
}.posto_I17{
    width: 30px;
    height: 30px;
}.posto_I18{
    width: 30px;
    height: 30px;
}.posto_I19{
    width: 30px;
    height: 30px;
}.posto_I20{
    width: 30px;
    height: 30px;
}.posto_I21{
    width: 30px;
    height: 30px;
}.posto_I22{
    width: 30px;
    height: 30px;
}.posto_I23{
    width: 30px;
    height: 30px;
}.posto_I24{
    width: 30px;
    height: 30px;
}.posto_I25{
    width: 30px;
    height: 30px;
}.posto_I26{
    width: 30px;
    height: 30px;
}

.posto_L1{
    width: 30px;
    height: 30px;
}.posto_L2{
    width: 30px;
    height: 30px;
}.posto_L3{
    width: 30px;
    height: 30px;
}.posto_L4{
    width: 30px;
    height: 30px;
}.posto_L5{
    width: 30px;
    height: 30px;
}.posto_L6{
    width: 30px;
    height: 30px;
}.posto_L7{
    width: 30px;
    height: 30px;
}.posto_L8{
    width: 30px;
    height: 30px;
}.posto_L9{
    width: 30px;
    height: 30px;
}.posto_L10{
    width: 30px;
    height: 30px;
}.posto_L11{
    width: 30px;
    height: 30px;
}.posto_L12{
    width: 30px;
    height: 30px;
}.posto_L13{
    width: 30px;
    height: 30px;
}.posto_L14{
    width: 30px;
    height: 30px;
}.posto_L15{
    width: 30px;
    height: 30px;
}.posto_L16{
    width: 30px;
    height: 30px;
}.posto_L17{
    width: 30px;
    height: 30px;
}.posto_L18{
    width: 30px;
    height: 30px;
}.posto_L19{
    width: 30px;
    height: 30px;
}.posto_L20{
    width: 30px;
    height: 30px;
}.posto_L21{
    width: 30px;
    height: 30px;
}.posto_L22{
    width: 30px;
    height: 30px;
}.posto_L23{
    width: 30px;
    height: 30px;
}.posto_L24{
    width: 30px;
    height: 30px;
}.posto_L25{
    width: 30px;
    height: 30px;
}.posto_L26{
    width: 30px;
    height: 30px;
}